<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/materialize.min.css"/>
    <script src="/js/materialize.js"></script>
    <script src="/js/axios.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <div class="right-align">
                    <form action="api/logout" method="post" autocomplete="off">
                        <div class="row">
                            <div class="col">
                                <button class="btn waves-effect waves-light" type="submit">Выйти
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


                <h3 class="header">Личный кабинет</h3>

                <form onsubmit="onFormSubmit(event)" method="post" autocomplete="off">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="login" autocomplete="off" name="login" value="<%= user.login %>" type="text"
                                   class="validate">
                            <label for="login">Логин</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="lastName">Фамилия</label>
                            <input type="text" autocomplete="off" value="<%= user.lastName %>" name="lastName"
                                   class="validate" id="lastName"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="firstName">Имя</label>
                            <input type="text" autocomplete="off" name="firstName" value="<%= user.firstName %>"
                                   class="validate" id="firstName"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <label for="middleName">Отчество</label>
                            <input type="text" autocomplete="off" name="middleName" value="<%= user.middleName %>"
                                   class="validate" id="middleName"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="birthDate">Дата рождения</label>
                            <input type="text" class="datepicker" name="birthDate" value="<%= user.birthDate %>"
                                   id="birthDate"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <label for="passportSerial">Серия паспорта</label>
                            <input type="text" autocomplete="off" class="validate" value="<%= user.passportSerial %>"
                                   name="passportSerial" maxlength="4"
                                   id="passportSerial"/>
                        </div>
                        <div class="input-field col s7">
                            <label for="passportNumber">Номер паспорта</label>
                            <input type="text" autocomplete="off" class="validate" value="<%= user.passportNumber %>"
                                   name="passportNumber" maxlength="6"
                                   id="passportNumber"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="password">Пароль</label>
                            <input type="password" name="password" class="validate" autocomplete="new-password"
                                   id="password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn waves-effect waves-light" type="submit">Обновить данные
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
  function onFormSubmit(event) {
    event.preventDefault();
    axios({
      method: 'put',
      url: 'api/profile',
      data: Object.fromEntries(new FormData(event.target).entries())
    }).then(function () {
      alert('Пользователь успешно обновлен!')
    }, function () {
      alert('Проверьте корректность заполнения полей')
    })
  }

  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, { format: 'dd.mm.yyyy' });
  });
</script>
</body>
</html>
